APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAILGUN_DOMAIN=
MAILGUN_SECRET=

FRONTEND_ADDRESS=http://localhost:3000
REACT_FRONTEND_ADDRESS=http://localhost:3002

S3_BUCKET=bucketname
S3_PREFIX=production-something
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

AWS_BACKUP_ACCESS_KEY_ID=
AWS_BACKUP_SECRET_ACCESS_KEY=
AWS_BACKUP_BUCKET=
AWS_BACKUP_REGION=
BACKUP_ENABLED=false

APP_PHASE=3

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=

ENABLE_TWILLIO=false
GITHUB_API_USERNAME=boilermake-web
GITHUB_API_TOKEN=
JWT_SECRET=
SLACK_URL=

PACKET_SECRET=asdf
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
#SHOW_EXTRA_LOGS_DEV=true